html,body{
  width: 50%;
  margin: 0 auto;
  font-size: 15pt;
}

h1{
  text-align: center;
}


#divcontainer{
  width: 315px;
  box-shadow: 0px 2px 4px dimgray,
  0px 0px 8px dimgray,
  0px 0px 12px dimgray;
}


.body{
  width: 315px;
  box-shadow: 0px 2px 4px dimgray,
  0px 0px 8px dimgray,
  0px 0px 12px dimgray;
}



.container{
  width: 360px;
}

#input{
  width: 250px;
  height: 46px;
  border: 1px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
  }
#add{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 30px;
}


button:hover{
  background: transparent;
  border: 2px solid #799be6;
  box-shadow: 0 0 10px 0 #799be6 inset, 0 0 10px 4px #799be6;
}

.todoarea{
  margin-top: 25px;
}


.paragraph-styling{
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  color: green;
}

